# Default ignored files
/*.xml
/*.iml
/inspectionProfiles/




venv
venv-stable
.venv-stable
venv-main
.venv-main
.venv
*.pyc
staticfiles
.env
*.sqlite3
.vscode/*
.idea/
superensinopro/media/
*.rdb
celerybeat-schedule
superensinopro/local_settings.py
.coverage
htmlcov
imports
.ipynb_checkpoints/
env
.tool-versions
